* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: 46px;
    color: #232323;
    margin: 0;
    text-align: center;
}

nav {
    height: 36px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}